

summary {
  cursor: pointer;
  font-weight: bold;
  font-family: Decima-Light, Arial, Helvetica, sans-serif;
  line-height: 1.8em;
}

details {
  margin-bottom: 5px;
  font-size: medium;
  font-size: medium;
}



