@font-face {
  font-family: "Gotham-Thin";
  src: url("../fonts/gotham/gotham-thin.ttf");
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../fonts/gotham/gotham-medium.ttf");
}

@font-face {
  font-family: "Gotham-Ultra";
  src: url("../fonts/gotham/gotham-ultra.ttf");
}

.bg-my-yellow {
  background-color: #ffef36
}

.border-my-yellow {
  border-color: #ffef36;
}

.font-medium {
  font-family: Gotham-Medium, Arial, Helvetica, sans-serif
}

.header {
  font-size: 1.6em;
}


@tailwind base;

@tailwind components;

@tailwind utilities;