@font-face {
  font-family: "Decima-Bold";
  src: url("../fonts/decima/decima-bold.otf");
}

@font-face {
  font-family: "Decima-Light";
  src: url("../fonts/decima/decima-light.otf");
}

@font-face {
  font-family: "Decima-Light-Italic";
  src: url("../fonts/decima/decima-light-italic.otf");
}

@font-face {
  font-family: "Decima-Mono-Bold";
  src: url("../fonts/decima/decima-mono-bold.otf");
}

@font-face {
  font-family: "Decima-Mono-Light";
  src: url("../fonts/decima/decima-mono-light.otf");
}

@font-face {
  font-family: "Decima-Regular";
  src: url("../fonts/decima/decima-regular.otf");
}
